alias b="bundle"
alias be="b exec"
alias rl="be rails"
alias rlg="rl generate"
alias rlgm="rlg model"
alias rlgc="rlg controller"
alias rlc="rl c"
alias rls="rl server"
alias rk="be rake"
# rails database aliases
alias dbd="rk db:drop"
alias dbc="rk db:create"
alias dbm="rk db:migrate"
alias dbs="rk db:seed"
alias routes="rk routes"
alias sp="be rspec"
alias gph="git push heroku master"
alias s="subl -a"
alias src="source ~/.zshrc"
alias erc="subl -a ~/.zshrc"
alias ea="subl -a ~/.aliases"
